/*
          _                         _    
__      _| | ___   __ _  ___  _   _| |_  
\ \ /\ / / |/ _ \ / _` |/ _ \| | | | __| 
 \ V  V /| | (_) | (_| | (_) | |_| | |_  
  \_/\_/ |_|\___/ \__, |\___/ \__,_|\__| 
                  |___/                  
 
----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@import '../../.cache/wal/colors-wlogout.css';

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

window {
	font-family: "Fira Code Medium";
	font-size: 16pt;
	color: @color7;
	background-color: alpha(@background, 0.6);
}

button {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
	background-color: alpha(@color2, 0.2);
	border-radius: 60px;
	animation: gradient_f 20s ease-in infinite;
	outline: none;
}

button:focus,
button:active,
button:hover {
	background-color: @color2;
	color: @color7;
	background-size: 20%;
	border-radius: 100px;
	transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.3s ease-in-out;
	outline: none;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
 */

#lock {
	margin: 10px;
	margin-top: 250px;
	margin-bottom: 150px;
	background-image: image(url("icons/lock.png"));
}

#shutdown {
	margin: 10px;
	margin-top: 250px;
	margin-bottom: 150px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	margin: 10px;
	margin-top: 250px;
	margin-bottom: 150px;
	background-image: image(url("icons/reboot.png"));
}
